@import "./components/colors";
@import "./components/mediaqueries";
@import "./components/mixins";
@import "./components/reset";
@import "./components/typography";

body {
  font-family: "Poppins", sans-serif;
  width: 100vw;
  overflow-x: hidden;
  @include respond(small) {
    overflow-x: hidden;
  }

  header {
    font-size: $shoppy-body-text;
    width: 100%;

    nav {
      width: 100%;

      .top-nav {
        @include jd-flex-norm;
        font-size: 14px;
        color: $shoppy-off-white;
        background-color: $shoppy-dark-btn;
        height: 48px;
        @include respond(small) {
          display: none;
        }

        span:last-child {
          margin-left: 10px;
        }
      }

      .mid-nav {
        @include jd-flex-sb;
        @include jd-container;
        height: 56px;
        @include respond(small) {
          display: none;
        }
        @include respond(large) {
          display: none;
        }

        .logo {
          @include jd-flex-norm;
          gap: 5rem;

          span {
            font-size: $shoppy-logo;
            font-family: $shoppy-logo-family;
          }

          label {
            position: relative;

            input {
              height: 38px;
              width: 530px;
              background: $shoppy-off-white;
              border: none;
              padding-left: 20px;
              border-radius: 7px;
              outline: none;

              &:focus {
                outline: 1px solid #808080bd;
              }

              &::placeholder {
                font-size: 12px;
              }
            }

            i {
              position: absolute;
              right: 10px;
              top: 10px;
              font-size: 20px;
              color: #808080bd;
            }
          }
        }
        select {
          border: 1px solid #fff;
          background-color: transparent;
          color: $shoppy-dark-btn;
        }
      }

      .main-nav {
        border-top: 1px solid #808080bd;
        border-bottom: 1px solid #808080bd;
        position: relative;
        @include jd-container;
        @include jd-flex-sb;
        @include respond(small) {
          padding: 1.5rem 1.5rem;
        }
        @include respond(large) {
          padding: 1.5rem 1.5rem;
        }

        .left {
          @include jd-flex-sb;
          gap: 5rem;
          span {
            font-weight: 700;
            font-size: 25px;
            @include respond(small) {
              display: none;
            }
            @include respond(large) {
              display: none;
            }
          }

          .main__logo {
            display: none;
            @include respond(small) {
              display: block;
            }
          }

          #navList {
            @include jd-flex-norm;
            gap: 2rem;
            @include respond(small) {
              width: 50%;
              position: absolute;
              top: 69px;
              right: 0%;
              flex-direction: column;
              background-color: #000000f7;
              color: $shoppy-white;
              padding: 65px;
              z-index: 3;
              transition: all 0.3s ease-in-out;

              & li {
                font-size: 20px;
                margin-bottom: 15px;
              }
            }
            li {
              transition: all 0.3s ease-in;

              &:hover {
                text-decoration: underline;
                text-underline-offset: 8px;
              }
            }
          }

          .navList {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 5rem;
            @include respond(small) {
              display: none;
            }
          }
        }

        .nav-icons {
          @include jd-flex-norm;
          gap: 2rem;
          span {
            @include respond(small) {
              display: none;
            }
          }
          .icons {
            i {
              font-size: 20px;
              margin-left: 15px;
            }
          }
          .bx-menu {
            display: none;
            @include respond(small) {
              display: block;

              font-size: 35px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  main {
    margin-top: 3rem;

    .jumbotron {
      @include jd-container;
      @include respond(small) {
        padding: 0.2rem 1.5rem;
        margin-top: 0;
      }
      @include respond(large) {
        padding: 0.2rem 1.5rem;
        margin-top: 0;
      }

      .jumbotron-container {
        width: 100%;
        background-color: #000;

        .swiper {
          width: 100%;
          height: 100%;
          color: $shoppy-off-white;

          .swiper-wrapper {
            margin: auto;
            width: 100%;
            padding-inline: 3rem;
            padding-block: 3rem;
            @include respond(small) {
              padding-inline: 1rem;
              padding-block: 1rem;
            }
          }

          .swiper-slide {
            width: 100%;
            @include jd-flex-norm;
            @include respond(small) {
              flex-direction: column;
              margin: 0;
              padding: 0;
            }
            gap: 3rem;

            .swiper-slide-left,
            .swiper-slide-right {
              flex: 1;
              flex-basis: 50%;
              @include respond(small) {
                flex-basis: 100%;
                padding: 0;
                margin: 0;
              }
            }

            .swiper-slide-left {
              .iphone-series {
                @include jd-flex-norm;
                justify-content: start;
                gap: 1.5rem;
                width: 100%;
                @include respond(small) {
                  justify-content: center;

                  img {
                    width: 35px;
                  }
                }
              }

              h1 {
                font-size: $shoppy-heading;
                font-family: $shoppy-heading-family;
                font-weight: 500;
                @include respond(small) {
                  font-size: 25px;
                }
              }

              .shopnow {
                span {
                  text-decoration: underline;
                  text-underline-offset: 8px;
                }

                @include jd-flex-norm;
                justify-content: start;
                gap: 1rem;

                i {
                  transform: rotate(180deg);
                  font-size: 25px;
                }

                @include respond(small) {
                  justify-content: center;
                }
              }
            }

            .swiper-slide-right img {
              width: 100%;
            }
          }

          .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            text-align: center;
            line-height: 20px;
            font-size: 12px;
            color: #808080;
            opacity: 1;
            background: #808080;
          }

          .swiper-pagination-bullet-active {
            color: #fff;
            background: $shoppy-teal-blue;
            outline: 1px solid $shoppy-off-white;
          }
        }
      }
    }

    .sponsors {
      height: max-content;
      margin-top: 3rem;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;

      div {
        @include jd-flex-norm;
        gap: 5rem;
        @include respond(small) {
          flex-direction: column;
          gap: 1rem;
        }
        @include respond(large) {
          flex-direction: column;
          gap: 1rem;
        }
        div {
          @include respond(small) {
            width: 80%;
          }
          @include respond(large) {
            width: 60%;
          }
          width: 280.63px;
          height: 111.57px;
          background-color: $shoppy-white;
          border-radius: 15px;
          filter: drop-shadow(0 0 0.75rem #808080);

          img {
            object-fit: contain;
          }
        }
      }
    }

    .explore {
      @include jd-container;
      @include respond(small) {
        padding: 1rem 1.5rem;
      }
      @include respond(large) {
        padding: 1rem 1.5rem;
      }

      .explore-heading {
        @include jd-flex-sb;

        h1 {
          text-transform: uppercase;
        }
        p {
          color: $shoppy-blue;
        }
      }

      .explore-content {
        @include jd-flex-norm;
        gap: 1rem;
        flex-direction: column;

        .top,
        .bottom {
          @include jd-flex-norm;
          width: 100%;
          gap: 1rem;

          @include respond(small) {
            flex-direction: column;
          }
          .explore-content-img {
            background-color: transparent;
            position: relative;

            span {
              position: absolute;
              color: $shoppy-white;
              font-size: 19px;
              bottom: 38px;
              left: 35px;
              text-transform: capitalize;
            }
          }
        }
      }
    }

    .best__selling {
      margin-top: 5rem;
      @include jd-container;
      @include respond(small) {
        margin-top: 1.5rem;
        grid-template-columns: 100%;
        padding: 1rem 1.5rem;
      }
      @include respond(large) {
        margin-top: 1.5rem;
        grid-template-columns: 100%;
        padding: 1rem 1.5rem;
      }
      display: grid;
      grid-template-columns: 30% 65.6%;
      grid-template-rows: repeat(1, 1fr);
      gap: 3rem;

      .best__selling-details {
        h3 {
          font-size: 31.67px;
          margin-bottom: 0;
          padding-bottom: 0;
        }
        p {
          width: 50%;
          line-height: 1.5;
          color: $shoppy-dark-btn-op;
        }
        button {
          @include light-btn;
          border: none;
          background: #c1dcdc;
          color: inherit;
          border-radius: 8px;
        }
      }

      .best__selling-swiper {
        position: relative;
        width: 100%;
        .swiper_btn {
          position: absolute;
          border: none;
          background: #c1dcdc;
          color: inherit;
          border-radius: 4px;
          width: 40px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;

          span {
            font-weight: 800;
            padding-inline: 8px;
            padding-block: 8px;
          }

          &:last-of-type {
            top: 37%;
            right: -18px;
            @include respond(small) {
              top: 0;
            }
          }

          &:first-of-type {
            top: 37%;
            left: -18px;
            @include respond(small) {
              top: 0;
            }
          }
        }

        .best__selling-img {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: auto;
          gap: 2rem;
          @include respond(small) {
            grid-template-columns: repeat(1, 1fr);
            width: 100%;
          }
          .img {
            @include jd-flex-norm;
            align-items: start;
            flex-direction: column;
            @include respond(small) {
              width: 100%;

              & img {
                width: 100%;
              }
            }
            .img__details {
              margin-top: 0.8rem;

              .product_name {
                margin-bottom: 0.8rem;
              }
              .product_prices {
                margin-top: 0.4rem;

                .product_perc {
                  color: $shoppy-green;
                }

                .product_old-price {
                  color: $shoppy-dark-btn-op;
                }
              }
            }
          }
        }
      }
    }

    .CTA {
      @include jd-container;
      @include respond(small) {
        padding: 1rem 1.5rem;
      }
      @include respond(large) {
        padding: 1rem 1.5rem;
      }
      .CTA__container {
        margin-top: 5rem;
        @include jd-flex-norm;
        @include respond(small) {
          flex-direction: column;
        }
        @include respond(large) {
          flex-direction: column;
        }
        justify-content: space-between;
        background: #c1dcdc;

        height: 100%;
        .left {
          flex-basis: 60%;
          @include respond(small) {
            flex-basis: 100%;
            padding-left: 0px;
            padding: 25px;
          }
          @include respond(large) {
            flex-basis: 100%;
            padding-left: 0px;
            padding: 25px;
          }
          background: #c1dcdc;
          height: 126px;
          padding-left: 30px;
          @include jd-flex-norm;
          flex-direction: column;
          align-items: start;
          border-radius: 8px;

          h3 {
            font-size: 25.2px;
            margin: 0;
            padding: 0;
            line-height: 1.2;
          }

          p {
            color: $shoppy-dark-btn-op;
            font-size: 14px;
          }
        }
        .right {
          flex-basis: 40%;
          background-color: #02a0a0;
          width: 100%;
          height: 126px;
          display: flex;
          align-items: center;
          justify-content: end;
          padding-right: 30px;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
          margin-right: -20px;
          transform: skew(-10deg);
          overflow: hidden;
          @include respond(small) {
            margin-right: 0px;
            flex-basis: 100%;
            transform: skew(0deg);
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            padding-right: 0px;
            padding: 1rem 0rem;
            justify-content: center;
          }
          @include respond(large) {
            margin-right: 0px;
            flex-basis: 100%;
            transform: skew(0deg);
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            padding-right: 0px;
            padding: 1rem 0rem;
            justify-content: center;
          }

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #02a0a0;
            transform: skew(5deg);
            z-index: -1;
          }

          button {
            @include dark-btn;
            border-radius: 8px;
            border: none;
          }
        }
      }
    }

    .new__arrival {
      margin-top: 5rem;
      @include jd-container;
      @include respond(small) {
        padding: 1rem 1.5rem;
      }
      @include respond(large) {
        padding: 1rem 1.5rem;
      }

      .feature__brand {
        .feature__brand-text {
          margin-bottom: 25px;
          span {
            &:first-of-type {
              background-color: #02a0a0;
              width: 20px;
              padding: 10px;
            }
            &:last-of-type {
              color: #02a0a0;
              margin-left: 10px;
              text-transform: capitalize;
            }
          }
        }
        h3 {
          font-size: 32px;
          margin: 0;
          padding: 0;
        }
      }

      .new__arrival-gallery {
        margin-top: 4rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        @include respond(small) {
          margin-top: 1.5rem;
          grid-template-columns: repeat(1, 1fr);
        }
        .playstation {
          background: #0d0d0d;
          display: flex;
          align-items: end;
          justify-content: end;
          position: relative;
          .text-box {
            position: absolute;
            color: $shoppy-white;
            bottom: 30px;
            left: 30px;
            p {
              width: 60%;
              font-size: 14px;
              text-shadow: 0 0 0.15rem #8080;
            }
            span {
              text-decoration: underline;
              text-underline-offset: 3px;

              cursor: pointer;
            }
            h3 {
              font-size: 24px;
            }
          }

          img {
            width: 100%;
            height: 80%;
          }
        }

        .collection {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          .collection_grp-1 {
            background: #0d0d0d;
            display: flex;
            align-items: end;
            justify-content: end;
            position: relative;
            .text-box {
              position: absolute;
              color: $shoppy-white;
              bottom: 30px;
              left: 30px;
              p {
                width: 60%;
                font-size: 14px;
                text-shadow: 0 0 0.15rem #8080;
              }
              span {
                text-decoration: underline;
                text-underline-offset: 3px;
                cursor: pointer;
              }
              h3 {
                font-size: 24px;
              }
            }
            img {
              width: 100%;
              height: 80%;
            }
          }
          .collection_grp {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            place-items: center center;
            gap: 1rem;
            width: 100%;

            .img {
              width: 100%;
              height: 100%;
              background-color: #0d0d0d;
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;

              .text-box {
                position: absolute;
                color: $shoppy-white;
                bottom: 30px;
                left: 30px;
                p {
                  width: 80%;
                  font-size: 14px;
                  text-shadow: 0 0 0.15rem #8080;
                }
                span {
                  text-decoration: underline;
                  text-underline-offset: 3px;
                  cursor: pointer;
                }
                h3 {
                  font-size: 24px;
                }
              }
              img {
                width: 80%;
                height: 80%;
              }
            }
          }
        }
      }
    }

    .save__for-later {
      @include jd-container;
      margin-top: 5rem;
      @include respond(small) {
        margin-top: 1.5rem;
        padding: 1rem 1.5rem;
      }
      @include respond(large) {
        margin-top: 1.5rem;
        padding: 1rem 1.5rem;
      }
      .save__for-box {
        display: flex;
        flex-direction: column;
        border: 1px solid #808080b4;
        border-radius: 8px;
        padding: 25px;
        .save {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: auto;
          gap: 1.5rem;
          @include respond(small) {
            grid-template-columns: repeat(1, 1fr);
          }
          @include respond(large) {
            grid-template-columns: repeat(2, 1fr);
            place-items: center center;
          }
          .later__card {
            @include jd-flex-norm;
            align-items: start;
            flex-direction: column;
            @include respond(small) {
              width: 100%;
            }
            .later__card-img {
              @include respond(small) {
                align-self: center;
              }
              padding: 35px;
              background-color: #eeeeee;
              border-radius: 5px;
              img {
                width: 224.17px;
                height: 176.68px;
                @include respond(small) {
                  width: 100%;
                }
              }
            }
            span {
              margin-top: 15px;
              font-weight: 600;
              margin-bottom: 0;
              padding-bottom: 0;
            }
            p {
              width: 80%;
              color: #808080d2;
            }
            button {
              @include light-btn;
              display: flex;
              align-items: center;
              justify-content: center;
              font-weight: normal;
              border: 1px solid #808080d2;
              border-radius: 5px;
              i {
                font-size: 19px;
                margin-right: 10px;
              }
              span {
              }
            }
          }
        }
      }
    }
  }

  footer {
    margin-top: 5rem;
    background: #000;
    height: 100%;
    .footer__container {
      padding-top: 2.8rem;
      color: $shoppy-white;
      .upper__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #808080c5;
        @include respond(small) {
          flex-direction: column;
          align-items: start;
        }
        @include respond(large) {
          flex-direction: column;
          align-items: start;
        }

        .upper__footer-CTA {
          padding-left: 6rem;
          padding-right: 6rem;
          padding-bottom: 1rem;
          @include respond(small) {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
          }
          @include respond(large) {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
          }
          @include jd-flex-norm;
          gap: 1.8rem;
          i {
            font-size: 69px;
          }
          .details {
            h4 {
              margin: 0;
              padding: 0;
              line-height: 1.3;
              font-family: "Nunito", sans-serif;
              font-size: 20px;
            }
          }
        }
      }
      .main__footer {
        border-bottom: 1px solid #808080c5;
        padding-left: 6rem;
        padding-right: 6rem;
        padding-bottom: 2.8rem;
        margin-top: 2.8rem;
        display: grid;
        grid-template-columns: 16% 16% 16% 25% 25%;
        place-items: start center;
        gap: 1rem;
        @include respond(small) {
          grid-template-columns: 100%;
          padding-left: 1.5rem;
          padding-right: 1.5rem;
        }
        @include respond(large) {
          grid-template-columns: 100%;
          padding-left: 1.5rem;
          padding-right: 1.5rem;
        }
        ul {
          width: 100%;

          &:last-of-type {
            .social {
              text-transform: uppercase;
              padding-top: 1rem;
              padding-bottom: 1rem;
            }
          }
          span {
            text-transform: uppercase;
            font-size: 20px;
          }
          li {
            margin-bottom: 0.9rem;
            font-size: 15px;
            &:first-of-type {
              margin-top: 1.4rem;
            }
          }
          .social__media {
            font-size: 22px;
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 1rem;
            margin-bottom: 1.8rem;
          }
          .market {
            display: flex;
            gap: 1rem;
            .ap-gg {
              img {
                width: 104px;
                height: 30px;
              }
            }
          }
        }
      }
      .lower__footer {
        @include jd-container;
        @include jd-flex-sb;
        padding-top: 2rem;
        padding-bottom: 2rem;
        @include respond(small) {
          padding: 1rem 1.5rem;
          flex-direction: column;
          justify-content: start;
        }
        @include respond(large) {
          padding: 1rem 1.5rem;
          flex-direction: column;
          justify-content: start;
        }
        .payment {
          span {
            padding-bottom: 1.8rem;
          }
        }
        .sponsors {
          display: flex;
          align-items: center;
          justify-content: start;
          i {
            font-size: 50px;
          }
        }
      }
    }
  }
}
